@namespace SmallsOnline.BlazorWasm.Template.Shared
@inherits LayoutComponentBase

<div>
    <header>
    </header>
    <main>
        <div class="container-lg">
            <div class="row py-3 justify-content-center">
                <div class="col-12">
                    @Body
                </div>
            </div>
        </div>
    </main>
</div>